@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Quicksand:wght@500;600&display=swap');

body {
    background-color: #F7EDE2;
    font-family: 'Quicksand';
    font-size: 16px;
    color: #47545A;
}

nav {
    display: flex;
    padding-left: 300px;
   
}

header {
    display: flex;
    justify-content:center;
    background-color:#84A59D;
    margin-left:-10px;
    margin-top:-10px;
    margin-right:-10px;
    padding-bottom: 40px;
}

main {
    margin-left: 180px;
    margin-top: 84px;
    margin-right: 180px;
}


div {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color:#84A59D;
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom: -10px;
    display: flex;
    justify-content:center;
    padding-bottom: 100px;
}
  

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 48px;
    color: #F28482;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color: #47545A;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #84A59D;
    padding:20px 3px;
    border-radius: 20px;
    text-align: center;
    transition: 0.4s;
}

h3:hover {
    background-color: #9dbbb4;
}

.nav {
    margin-left: 50px;
    margin-top: 50px;
    color: #FFFFFF;
}

.name {
    margin-top: 40px;
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    font-size: 48px; 
}


.homepage {
    padding-top: 100px;
    padding-left: 100px;
    color: #47545A;
}

.aboutme {
    display: grid;
    grid-template-columns: repeat(12, 32fr);
    margin-left: 100px;
    padding: 0px 100px 220px 100px;
    justify-content: center;
}

section.grid {
    grid-column: 3/ span 5;
    padding-right: 32px;
}

.headshot {
    width: 400px;
    grid-column: 8/ span 6;
    margin-top: 60px;
    border-radius: 30px;
}

.contact_title {
    margin: 20px 80px;
}

form {
    margin: 0 100px;
    padding-bottom: 100px;
}

textarea, input{
    width: 500px;
    border-radius: 20px;
    border-color: #F6BD60;
    border-width: 3px;
    margin:  5px 0 10px 0;
    font-family: 'Quicksand', sans-serif;
    color: #47545A;
    border-style: solid;
}

label {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #47545A;
}

textarea{
    padding-bottom: 300px;
}

textarea:focus, input:focus {
    border-color: #84A59D;
    outline: 3px #84A59D
}

button {
    background-color: #F28482;
    border-radius: 20px;
    border-color: #F28482;
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 5px 50px;
    border-style: solid;
    transition: 0.4s;
}

button:hover {
    background-color: #ffc6c5;
    border-color: #ffc6c5;
}


section.project{
    display: grid;
    grid-template-columns: repeat(3, 20fr);
    padding-bottom: 100px;
    justify-items: center;
}

section {
    padding: 0 10px 0 0;
}

img.project {
    width: 350px;
    transition: 0.4s;
}

img:hover.project{
    color: #FFFFFF;
    opacity: 0.6;
}

.bee {
    margin-left: 600px;
    padding: 0 30px 30px 30px;
    width: 400px;
}

img {
    width: 100%;
    border-radius: 20px;
}

main{
    padding-bottom: 100px ;
}

a {
    color: #fFFFFF;
    transition: color 0.5s;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

a.selected, a.nav:hover{
    color: #F6BD60;
}

img.left{
    float: left;
    width: 30%;
    margin-right: 20px;
}

img.right{
    float: right;
    width: 30%;
    margin-left: 20px;
}

.ref{
    font-size: 12px;
}

.task{
    margin:0 auto;
    max-width: 1000px;
    align-self: center;
}

.doc{
    font-family: 'Quicksand';
    font-size: 16px;
    color: #47545A;
    text-decoration: underline;
}

.doc:hover{
    font-family: 'Quicksand';
    font-size: 16px;
    color: #F6BD60;
    text-decoration: underline;
}

iframe{
    width: 100%;
    border-radius: 20px;
}

section.contacts{
    display: flex;
    max-width: 200px;
    padding-right: 100px;
}

.home{
    max-width: 50%;
}

.homept2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 1400px){
    .aboutme{
        padding: 10px 10px 200px 10px;
        margin-left: 0px;
        margin-right: 60px;
    }
    .grid{
        padding-right:10px;
    }
    img.project{
        width: 250px;
    }
    h3{
        font-size: 18;
        padding:13px 2px;
    }
    main{
        margin: 100px;
    }
    .bee{
        margin-left:200px ;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    nav{
        padding-left: 20px;
    }
    .task{
        margin:0 200px;
    }
}

@media (max-width:1150px){
  
}


@media (max-width: 920px){
    .homept2{
        flex-wrap: wrap-reverse;
        width: 120%;
    }
    .home{
        max-width: 100%;
        padding-bottom: 30px;
    }
    main{
        margin-left: 70px;
        margin-top: 40px;
        padding-bottom: 20px;
    }
    img.project{
        width: 450px;
    }
    section.project{
        grid-template-columns: repeat(1, 20fr);
    }
    form{
        margin: 0 10px;
    }
    div{
        flex-direction: column;
        padding-bottom: 0px;
    }
    a.name{
        padding: 10px;
        align-self: center;
        font-size: 32px;
        margin-top: 0px;
    }
    .nav{
        padding-left: 0px;
        margin-top: 10px;
        font-size: 18px;
        
    }
    header {
        padding-bottom: 25px;
        padding-top: 25px;
    }
    nav{
        padding-left: 0px;
    }
    a.footer{
        justify-content: center;
        align-self: center;
    }
    footer{
        padding-bottom: 40px;
    }
    h1{
        font-size: 36px;
    }
    .bee{
        width: 300px;
        margin-left: 50px;
        padding: 50px;
        padding-bottom: 90px;
    }
    .homepage{
        margin: 20px;
        padding: 20px;
    }
    input, textarea {
        width: 400px;
    }
    form{
        padding-bottom: 0px;
    }
    section.grid {
        grid-column: 3/ span 9;
        padding-right: 32px;
    }
    
    .headshot {
        width: 460px;
        grid-column: 3/ span 10;
        margin-top: 20px;
        border-radius: 30px;
    }
    .aboutme{
        padding-bottom: 0px;
        margin-right: 0px;
    }
  
    img.left{
        width: 100%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    img.right{
        margin-bottom: 20px;
        width: 100%;
        margin-left: 20px;
    }
    .task{
        margin:0 100px;
    }
}

@media (max-width: 600px){
    .headshot{
        width: 350px;
    }
    img.project{
        width:400px;
    }
    main{
        margin-left: 20px;
    }
    h1{
        margin-top: 0px;
        font-size: 32px;
    }
    .contact_title{
        margin:10px 20px;
    }
    .task{
        margin:20px 40px;
    }
    .nav{
        margin-left: 10px;
    }
  
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    border-radius: 20px;
  }